{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Leases</h1>
    <p>This is the home page</p>

    <!-- Dynamic list of leases -->
    <ul class="list-group mt-3">
        {% for ogl in ogl_list %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <!-- Display lease information -->
            {{ ogl.docNo }} - {{ ogl.lessee }} - {{ ogl.effDate }}
            
            <!-- Update button -->
            <a href="{% url 'update_ogl' ogl.id %}" class="btn btn-primary btn-sm">Update</a>
        </li>
        {% empty %}
        <li class="list-group-item">
            No leases found. <a href="{% url 'add_ogl' %}">Create one</a>.
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
